#canvas{
    border: 1px solid black;
    z-index: 9;
}

body{
    background-color: lightgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.everythingContainer {
    display: flex;
}

.infoContainer {
    margin-left: 10px;
    background: gray;
    width: 300px;
    height: 600px;
}

.arrowKeys {
    width: 140px;
    height: 100px;
}
.enterKey {
    width: 80px;
    height: 50px;
    margin-bottom: 30;
}


.canvasContainer {
  min-height: 600px;
  min-width: 1000px;
  position: relative;
  canvas {
    position: absolute;
  }
    #l0 {
        z-index: 1;
    }
    #l1 {
        z-index: 2;
    }
    #l2 {
        z-index: 3;
    }
    #l3 {
        z-index: 4;
    }
    #l4 {
        z-index: 5;
    }
    #l5 {
        z-index: 6;
    }
    #l6 {
        z-index: 7;
    }
    #l7 {
        z-index: 8;
    }
    #l8 {
        z-index: 9;
    }
}
