#canvas{
    border: 1px solid black;
    z-index: 9;
}

body{
    background-image: url(../images/background/backgroundsite.png);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    text-align: center;
}

.logo{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    margin-left: 2rem;
}

.bodyContainer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4rem;

}

.everythingContainer {
    display: flex;
    
}

.infoContainer {
    color:#ac3636;
    margin-left: 10px;
    background: #90dede;
    width: 300px;
    height: 600px;
    border: 1px solid black;
}

ul{
    list-style: none;
}

.infoTitle{
    margin-left: 3rem;
    min-width: 100px;
    height: 50px;
    padding-bottom: 1rem;
}


.infoControl{
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

.infoHowTo{
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

.infoDetail, .infoKeyInput{
    padding: 0 1rem;
}

.infoKeyInput>li{
    padding-bottom: .5rem;
}

.arrowKeys {
    width: 140px;
    height: 100px;
}
.enterKey {
    width: 80px;
    height: 50px;
    margin-bottom: 30;
}


.canvasContainer {
  min-height: 600px;
  min-width: 1000px;
  position: relative;
  canvas {
    position: absolute;
  }
    #l0 {
        z-index: 1;
    }
    #l1 {
        z-index: 2;
    }
    #l2 {
        z-index: 3;
    }
    #l3 {
        z-index: 4;
    }
    #l4 {
        z-index: 5;
    }
    #l5 {
        z-index: 6;
    }
    #l6 {
        z-index: 7;
    }
    #l7 {
        z-index: 8;
    }
    #l8 {
        z-index: 9;
    }
}

.icon{
    text-decoration: none;
}

.babyIdle{
    width: 110px;
    height: 110px;
}

.navLink{
    padding-right: 1rem;
}
.navLinks{
    padding-right: 2rem;
}

.navLink > img{
    width: 50px;
    height: 50px;
}

.eblogo{
    margin-left: 2rem;
    width: 350px;
    height: 100px;
}

.author{
    color: black;
    font-size: 1rem;
}

.by{
    display: flex;
    align-items: center;
}